{% extends 'base.html.twig' %}

{% block title %} Mes adresses !{% endblock %}

{#% include 'partials/flash.html.twig' %#}

{% block content %}
    <a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    <h1>Mes adresses</h1> 
         {{ app.user.firstname|capitalize }}, bienvenue dans l'espace dédié a la gestion de vos adresses.<br>
         Ici vous pourrez : ajouter, modifier ou supprimer vos adresses.<br>
    <hr>
    {% if app.user.addresses|length == 0 %}
        <p class="text-center">
            Vous n'avez pas encore ajouté d'adresse, pour ajouter une adresse veuillez <a href="">cliquer ici.</a>
        </p>
        {% else %}
            <div class="row">
                {% for address in app.user.addresses %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ address.name }}</h5>
                            <p class="card-text">
                                {{ address.address }},<br>
                                {{ address.postal }} - {{ address.city }} - {{ address.country }}
                            </p>
                            <a href="{{ path('account_address_edit', { 'id' : address.id }) }}">Modifier</a> | <a href="{{ path('account_address_delete', { 'id' : address.id }) }}">Supprimer</a> 
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}              
    {% endif %}  
    <hr>
    <a href="{{ path('account_address') }}">Retour</a> 
{% endblock %}
