{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Votre compte</h1> 
        Bienvenue {{ app.user.firstname }} sur votre compte. 
        <hr>
        C'est dans cette espace que vous allez gérer toutes vos information personnelles.
        <hr>
        {# {% if is_granted('ROLE_ADMIN') %} #}
        {# <a href="/admin">Dashboard</a><br> #}
        <hr>
        {# {% endif %} #}
        <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br>
        <hr>
         <a href="{{ path('account_address') }}">Gérer mes adresses</a><br> 
        <hr>
        <a href="{{ path('order') }}">Voir mes commandes</a><br>   
{% endblock %}
