{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1> 
    <hr>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    {% if notification %}
        <div class='alert alert-info'>{{ notification }}</div>
    {% endif %}
    {{ form(form) }} 
{% endblock %}
