{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
          Vous êtes connecté en tant que {{ app.user.firstname }}, {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        <label for="inputEmail">Votre email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder='Entrez votre email' class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Votre mot de passe</label>
        <input type="password" name="password" id="inputPassword" placeholder='Entrez votre mot de passe' class="form-control" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

     <hr>
        <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
            Se connecter
        </button>
        <hr>
        <p class="text-center">Ou souhaitez-vous <a href="{{ path('register') }}">créer un compte <a>?</p>
</form>
{% endblock %}
