{% extends 'base.html.twig' %}

{% block title %}S'inscire !{% endblock %}

{% block content %}
    <h1>Inscription</h1>
    <hr>
    {% if notification %}
        <div class='alert alert-info'>{{ notification }}</div>
    {% endif %}    
     {{form(form)}}
{% endblock %}
