{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block content %}
{# A changer de place je trouve ça moche ici #}
<style>
/* .img-recap {
    max-height: 75px;
    max-width: 90px;
} */
</style>

	<h3>Récapitulatif de ma commande</h3>
	<hr>
	{# récupération des informations via le form instancié dans OrderController#}
	<div class="row">
		<div class="col-md-6">
			<b>Adresse de livraison</b>
			<div class="form-check">
				{{ delivery|raw}}
			</div>
			<hr>
			<b>Mode de livraison</b>
			<div class="form-check">
				{{ carrier.name|capitalize}}
				{{ (carrier.price / 100)|number_format(2, ',', '.') }} €
				{{ carrier.description|capitalize}}
			</div>
		</div>

		<div class="col-md-6">
            <table class="table">
				{% set total = 0 %}
				{% for key,product in cart %}
					<tr>
						<td scope="row" style="border-0">
							<img class="img-recap" src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}">
						</td>
						<td>
							<h5>{{ product.product.name }}</h5><br>
							<small>{{ product.product.subtitle }}</small>
						</td>
						<td>
							x{{ product.quantity }}
						</td>
						<td>
							{{ (product.product.price / 100)|number_format(2, ',', ' ') }} €
						</td>
					</tr>
					{% set total =+ total + (product.product.price * product.quantity) %}
				{% endfor %}
				 				
				<tr>
					<td colspan="4">
						<p scope="row" class="text-right">
							<b>Nombre de produit : </b>{{ (cart|length) }}
						</p>
						<p class="text-right">
							<b>Livraison : </b> {{ (carrier.price / 100)|number_format(2, ',', '.') }} €
						</p>
						<p class="text-right">
							<b>Total de mon panier : </b>{{ ((total / 100) + (carrier.price / 100))|number_format(2, ',', '.') }} €
						</p>
					</td>
				</tr>
			</table>
		</div>
		<p class="mb-0">Veuillez vérifier vos informations, car vous ne pourrez plus les changer une fois la commande effectuée.</p>
        {# Bouton de validation #}
		<p class="mb-0">Veuillez vérifier vos informations, car vous ne pourrez plus les changer une fois la commande effectuée.</p>
        <a href="{{ path('order_recap') }}" class="btn btn-success btn-block mt-3" type="submit" >Passer au paiement {{ ((total / 100) + (carrier.price / 100))|number_format(2, ',', '.') }} €</a>
	</div>
{% endblock %}