{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block content %}
	{# COLONNE DE GAUCHE#}
	<h3>Choix de la livraison</h3>
	<hr>

	<div class="row">
		<div class="col-md-6">
			{% set formHtml %}
				{{ form_start(form, {action:path('order_recap')}) }}
					{{ form_label(form.addresses, "L'adresse sélectionnée sera l'adresse de livraison") }}
					<a href="{{ path('account_address_add') }}">Pour ajouter une nouvelle adresse, cliquez ici</a>			
				{{ form_end(form) }}
			{% endset %}
			{{ formHtml|replace({'[br]' : '<br>'})|raw}}
		</div>

		{# <div class="col-md-6"> #}
		{# <div class="col">
			{{ dump(form) }}
			
			{{ form_start(form) }}

				{{ form_widget(form.addresses) }}
				
				{{ form_widget(form.carriers) }}
		</div> #}
		{# <div class="col"> #}
			{# COLONNE DE DROITE #}	
			<div class="col-md-6">
				<div class="text-center titre-recap">
					<h6><b>Récap de ma commande</b></h6>
				</div>
				
				<table class="table">
					{% set total = 0 %}
					{% for key,product in cart %}
						<tr>
							<td scope="row" style="border-0">
								<img class="img-recap" src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}">
							</td>
							<td>
								<h5>{{ product.product.name }}</h5><br>
								<small>{{ product.product.subtitle }}</small>
							</td>
							<td>
								x{{ product.quantity }}
							</td>
							<td>
								{{ (product.product.price / 100)|number_format(2, ',', ' ') }} €
							</td>
						</tr>
						{% set total =+ total + (product.product.price * product.quantity) %}
					{% endfor %}
					<tr>
						<td colspan="4">
							<p scope="row" class="text-right">
								<b>Nombre de produit : </b>{{ (cart|length) }}
							</p>
							
							<p class="text-right">
								<b>Total de mon panier : </b>{{ (total / 100)|number_format('2', ',', ' ') }} €
							</p>
						</td>
					</tr>
				</table>
			</div>
		{# </div> #}
		{# {{ form_widget(form.submit) }}
	{{ form_end(form) }} #}

	</div>
        {# Bouton de validation #}
        {# <a href="{{ path('order_recap') }}" class="btn btn-success btn-block mt-3 w-50 align-self-center" type="submit" >Valider mes achats</a>  #}

{% endblock %}
